body {
    font-family: Verdana, sans-serif;
    background-color: #ffffff;
    transition: 0.5s;
}

body.dark-mode {
    background-color: #000000;
}

.auth-box {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(70, 30, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    transition: 0.5s;
}

.auth-box.dark-mode {
    background: rgba(0, 0, 0, 0.35);
}

.form-container h1 {
    text-align: center;
    color: #232c3d;
    transition: 0.5s;
}

.form-container h1.dark-mode {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 80%;
    margin-bottom: 20px;
    border: none;
    background-color: #f0f5ff;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    transition: 0.5s;
}

input.dark-mode {
    background-color: #424242;
    color: white;
}

input:focus {
    outline: none;
}

button {
    width: 40%;
    border: none;
    background-color: #63c4ff;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

button.dark-mode {
    background-color: #794bc4;
}

button:hover {
    cursor: pointer;
    background-color: #43a0da;
}

button.dark-mode:hover {
    background-color: #875ad1;
}

.toggle-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.toggle-link.dark-mode {
    color: #8ab4f8;
}

.theme {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;   
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.5s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.5s;
}

.switch input:checked + .slider {
    background-color: #794bc4;
}

.switch input:checked + .slider::before {
    transform: translateX(26px);
}
